video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 32px 64px;

    color: #ffffff;
    font-size: 2em;
    font-family: "Shadows Into Light", cursive;
}