#videoDiv {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#videoDiv > video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.content {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 32px 64px;

    color: #ffffff;
    font-size: 2em;
    font-family: "Shadows Into Light", cursive;
}

html, body, #videoDiv {
    background-color: transparent;
}